@model List<rentacar.ViewModels.ManageUserRolesViewModel>
@{
    ViewData["Title"] = "Manage"; Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-lg bg-default" width="9000px">
    <div class="container">
        <form method="post">
            <div class="card">
                <div class="card-header">
                    <h2>Uredi uloge korisnika</h2>
                    <hr />
                    Dodaj/Obriši Ulogu za Korisnika / @ViewBag.UserName.
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input asp-for="@Model[i].Selected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].Selected">
                                @Model[i].RoleName
                            </label>
                        </div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Spasi" class="btn btn-primary" style="width:auto" />
                    <a asp-controller="Korisnici" asp-action="Index" asp-area="Admin" class="btn btn-primary" style="width:auto">Nazad</a>
                </div>
            </div>
        </form>
        </div>
</section>