@model IEnumerable<rentacar.Models.DetaljiKarakteristika>

@{
    ViewData["Title"] = "Detalji karakteristika";
}
<section class="section-lg bg-default">
    <div class="container">
        <h4 class="title-block">@ViewData["Title"]</h4>
        <div class="row row-sm row-30">

            <p>
                <a asp-action="Create" class="btn btn-primary">Dodaj detalje karakteristika</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Naziv)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naziv)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> | 
                                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>