@model IEnumerable<rentacar.Models.Proizvodjac>

@{
    ViewData["Title"] = "Proizvođači";
}
<section class="section-lg bg-default">
    <div class="container">
        <h4 class="title-block">@ViewData["Title"]</h4>
        <div class="row row-sm row-30">

            <p>
                <a asp-action="Create" class="btn btn-primary">Dodaj proizvođača</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Naziv)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td width="260">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Uredi</a>&nbsp;<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Obriši</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>